.profile_container {
    height: 85vh;
}

.profile_heading {
    font-size: 27px;
    font-weight: 700;
    color: var(--green);
}

.profile_container img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0px;
}

.profile_inputs input,
.profile_inputs select,
.profile_inputs #change_pic,
.profile_inputs button {
    height: 40px;
    width: 230px;
    border-radius: 7px;
    padding-left: 10px;
    outline: none;
    border: 2px solid grey;
    margin: 5px;
}

.profile_inputs img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    border-radius: 0%;
}

#address {
    width: 98%;
}

#profile_pic {
    display: none;
}

#change_pic {
    color: grey;
    border-style: dashed !important;
}

.profile_inputs button {
    border: none;
    font-weight: 500;
    background-color: var(--green);
    color: white;
}

@media (max-width: 426px) {

    .profile_inputs input,
    .profile_inputs select,
    .profile_inputs #change_pic,
    .profile_inputs button {
        width: 100%;
    }
}