.footer_main {
    background-color: black;
}

.footer_inner {
    color: white;
    padding-top: 100px;
}

.brand {
    width: 300px;
    height: auto;
}

.brand img {
    width: 50%;
}

.contact_info img {
    height: 40px;
    width: 40px;
}

.email_box {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid white;
}

.email_box input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.footer_links a {
    text-decoration: none;
    color: white;
}

.email_box button {
    background: transparent;
    border: none;
    color: var(--green);
    border-left: 1px solid var(--green);
}

.subscription img {
    width: 150px;
}

.footer_bar {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0px;
}