.menu_body {
    position: absolute;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding: 5px 19px;
    z-index: 6000;
    background-color: white;
    width: 200px;
    text-align: center;
    right: 2%;
    top: 17%;
}

.menu_body span {
    font-size: 20px;
    font-weight: 500;
    margin: 2px 0px;
    cursor: pointer;
}

.menu_bar {
    height: 1px;
    background-color: rgb(221, 221, 221);
}

@media (max-width: 426px) {
    .menu_body span {
        font-size: 16px;
        font-weight: 500;
        margin: 2px 0px;
    }

    .menu_body {
        width: 140px;
    }
}

/* @media (max-width: 2560px) and (min-width:) {
    .menu_body {
        top: 7%;
        right: 21%;
    }
} */

@media (max-width: 1441px) {
    .menu_body {
        top: 12%;
        right: 1%;
    }
}

@media (max-width: 1025px) {
    .menu_body {
        top: 14%;
        right: 1%;
    }
}

@media (max-width: 768px) {
    .menu_body {
        top: 17%;
        right: 1%;
    }
}

@media (max-width: 320px) {
    .menu_body {
        top: 21%;
        right: 1%;
    }
}